<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAz3iVhEQ-czqrVnbS67X5Y8ix682PeNI0</string>
	<key>GCM_SENDER_ID</key>
	<string>484617368483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RecipeJournal</string>
	<key>PROJECT_ID</key>
	<string>recipejournal-d7bc0</string>
	<key>STORAGE_BUCKET</key>
	<string>recipejournal-d7bc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484617368483:ios:c0325dd3b97a1374f22016</string>
</dict>
</plist>